#upper-section {
	display: block;
	height: 30%;
	min-height: 200px;
	width: 100%;
	position: relative;
	background-color: #00b47b;
    color: #ffffff;
	font-family: 'Roboto', Helvetica, sans-serif;
	min-width: 500px;
	text-align: center;
}

#home-container {
	display: block;
	margin: 0 auto;
	padding-top: 70px;
	width: 100%;
	min-width: 500px;
}

#home-message h1 {
	font-weight: 700;
	font-size: 48px;
}

#home-message h2 {
	font-weight: 400;
	font-size: 28px;
}

#lower-section {
	width: 100%;
	min-height: 70%;
}

#about-outer {
    width: 90%;
    font-family: 'Noto sans', Helvetica, sans-serif;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}

#about-inner {

}

#image-box {
	width: 333px;
	display: inline-block;
	margin-top: 20px;
}

#text-box {
	width: 80%;
	display: inline-block;
	margin-top: 20px;
}

#text-box  h1 {
	font-size: 36px;
	text-align: center;
}

#about-image {
	margin: 0 auto;
	background: #fff;
}

#about-image > img { 
}

#about-text {
	margin: 0 auto;
	text-align: justify;
}


/**--footer--*/
/*@media (min-height: 463px){
    #footer {
    	height: initial;
    	position: relative;
    }
}

@media (max-height: 707px){
    #footer {
    	height: initial;
    	position: relative;
    }
}*/