html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

a:visited, a {
	text-decoration: none;
	color: inherit;
}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -45px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
.page-wrap:after {
  height: 30px;
  min-width: 500px;
}

/*--top navigation--*/
.page-wrap {
    /*vertical-align: baseline;*/
    min-width: 500px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Roboto', Helvetica, sans-serif;
}

.header {
	width: 100%;
	height: 41px;
	position: fixed;
	padding-top: 5px;
	top: 0;
	left: 0;
	z-index: 14;
	min-width: 500px;
	background-color: Black;
	-webkit-box-shadow: 0px -1px 30px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px -1px 30px 0px rgba(0,0,0,0.5);
	box-shadow: 0px -1px 30px 0px rgba(0,0,0,0.5);
}

.nav-div {
	width: 95%;
	margin: 0 auto;
}

.iithbt-div {
	display: inline-block;
	position: relative;
	float: left;
	height: 26px;
	margin: 5px 0;
}

.iithbt-logo {
	background-image: url(../images/logo-solid-100.png);
	height: 26px;
	width: 26px;
	border-radius: 4px;
	position: relative;
	float: left;
	margin-right: 5px;
	background-size: cover;
}

.iithbt-name {
	display: inline-block;
	float: left;
	color: #fff;
	font-weight: 400;
	font-size: 18px;
	line-height: 26px;
	vertical-align: middle;
}

.nav {
	position: relative;
	float: right;
}

.nav ul {
	list-style: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.nav li {
	display: inline-block;
	font-family: 'Roboto', Helvetica, sans-serif;
}

.nav a {
    display: inline-block;
    font-size: 16px;
    padding: 0.5em 0.75em;
}

.border-trans {
	color: #fff;
}

#nav li.active, .active > a {
	background: #fff;
	border-radius: 20px;
	color: #444	;
}

.border-trans:hover {
	border-color: rgb(264, 164, 9);
}

.content-wrap {
	display: block;
	width: 100%;
}

.section-container {
	display: block;
	margin: 0 auto;
	padding-top: 70px;
	width: 100%;
	min-width: 500px;
}

.section-message h1 {
	font-weight: 700;
	font-size: 48px;
	margin: 0;
}

.section-message h2 {
	font-weight: 400;
	font-size: 28px;
	margin: 0;
}

/*-- footer --*/
.footer {
	display: block;
	height: 45px;
	min-width: 500px;
	width: 100%;
	position: relative;
	bottom: 0;
	background-color: rgba(0,0,0,.9);
	text-align: center;
}

#footer-text {
	font-size: 20px;
	height: 35px;
	text-align: center;
	color: rgba(255,255,255,.3);
	font-family: 'Roboto', Helvetica, sans-serif;
	font-weight: 400;
	position: relative;
	top: 10px;
	transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
}

#footer-text:hover {
	color: rgba(255,255,255,.9);
}


/*-- footer --
.footer {
	display: block;
	height: 45px;
	min-width: 500px;
	width: 100%;
	position: fixed;
	bottom: 0;
}

.footer-fixed {
	height: 40px;
	width: 100%;
	background-color: rgba(0,0,0,.9);
}

.footer-clearfix {
	width: 66.67%;
	height: 40px;
	margin: 0 auto;
}

#footer-text {
	font-size: 20px;
	height: 35px;
	text-align: center;
	color: rgba(255,255,255,.3);
	font-family: 'Roboto', Helvetica, sans-serif;
	font-weight: 400;
	position: relative;
	top: 5px;
	transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
}

#footer-text:hover {
	color: rgba(255,255,255,.9);
}
*/

