.latest-issue {
    margin: auto;
    margin-top: 50px;
    max-width: 90%;
    /*max-height: 70vh;
    overflow-y: scroll;*/
}

.latest-issue-title {
    margin: auto;
    margin-top: 50px;
    width: 80%;
}

.latest-issue img{
    margin: auto;
    max-height: 60%;
}

.latest-issue .issue-front-cover {
    width:35%;
    float: left;
    height: auto; 
    /*margin: 5%;*/
    margin-right: 10%;
    display: inline-block;
    text-align: justify;
    border: 1px solid #E7E6E6;
    position: relative;
    background: #f6f8f8;
    border-radius: 2px;
    box-shadow: 0px 5px 5px rgba(81,64,49,0.1);
}

.latest-issue .issue-front-cover img{
}

.latest-issue .description-li h3{
    margin-bottom: 0px;
    margin-top: 8%;
}

.latest-issue .description-li h5{
    margin-top:0px; 
    margin-bottom: 0%;
}


.latest-issue .issue-front-cover .img-overlay {
  display: block;
  position: absolute;
  z-index: 20;
  background: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
}


.issue-front-cover .img-overlay a.expand {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  display: block;
  position: absolute;
  z-index: 100;
  border: solid 2px #fff;
  text-align: center;
  color: #fff;
  padding: 5px;
  font-size: 15px;
  cursor: pointer;
}

.latest-issue .issue-front-cover:hover {
  /*-webkit-filter: brightness(100%);*/
}

.latest-issue .issue-front-cover:hover .img-overlay {
  opacity: 1;
}

.latest-issue .issue-front-cover:hover .img-overlay a.expand {
  width: 130px;
  height: 35px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

.text-link {
  cursor: pointer;
  transition: all 0.2s ease;
}
.text-link:hover {
  color:#333;
}

.latest-issue .description-li{
    margin: 5%;
    /*margin-top: 0%;*/
    /*float: left;*//*
   height:400px;
   width:auto;
   display: flex;
  justify-content: center;
  flex-direction: column;*/

}

.latest-issue p{
  justify-content: center;
  flex-direction: column;
}

.bb-close {
    float: right;
    top: 0;
    cursor: pointer;
}

.bb-close img {
    height: 50px;
    width: 50px;
}