
.post-box {
    margin: 10px;
    border: 1px solid #E7E6E6;
    background: #f6f8f8;
    border-radius: 2px;
    min-height: 300px;
    box-shadow: 0px 5px 5px rgba(81,64,49,0.1);
    transition: transform 0.4s ease 0s, opacity 0.4s ease 0s;
}

.post-box:hover {
    background: #fff;
}

.post-box:hover .post-image {
    -webkit-filter: brightness(100%);
}

.post-container {
    padding:10px;
}
.post-container h3.title{
    margin: 0;
    /*font-family: 'Mirza', cursive;*/
    font-family: 'Crimson Text', serif;
}
.post-container p.subline{
    margin-top: 0px;
    margin-bottom: 10px;
    color: #9DA8B0;
    font-size: 0.6em;
    position: relative;
}
.post-container p.excerpt{
    margin-top: 10px;
    margin-bottom: 10px;
}
img.post-image {
    -webkit-filter: brightness(80%);
}